html, body {
	font-size: 14px;
	line-height: 17px;
	.LanguageFont-Default();
}

#Page {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: inherit;
}

main {
	position: relative;
	order: 2;
	flex-grow: 1;
	z-index: 1;
	overflow: auto;
	word-break: break-all;
	font-size: inherit;
	background: @backgroundPage @background 0 0 repeat;
}


#Loader{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;
	background: @shadow;
	opacity: 0.5;
	z-index: 999;
	transition: all 0.5s;

	&.loaded{
		opacity: 0;
		height: 0%;
	}
}