.filter {
	display: block;
	overflow: hidden;
	max-height: 0px;
	transition: transform 0.35s, max-height 0.35s;

	&__title {
		position: relative;
		display: inline-block;
		padding: 10px 45px 10px 20px;
		background: $filterBackground;
		border-radius: 7px;
		transition: border-radius 0.35s;

		&::after, &::before {
			position: absolute;
			content: "";
			display: block;
			right: 20px;
			top: 50%;
			margin: -1 0 0 0;
			width: 12px;
			border-bottom: solid 2px $filterPlusColor;
		}

		&::after {
			transition: transform .35s;
			transform: rotate(90deg) scale(1);
		}
	}

	&__list {
		display: block;
		width: 100%;
		margin: 0;

		&__item {
			position: relative;
			display: block;
			float: left;
			width: 100%;
			background: $filterBackground;
			height: $filterLineHeight;
			transition: border-radius 0.35s;

			&__text {
				display: block;
				float: left;
				width: 40%;
				font-size: 1.1rem;
				font-weight: bold;
				line-height: 2.2rem;
				word-break: normal;
				line-height: 2.2rem;
				box-sizing: border-box;
				padding: 0 20px;
				line-height: $filterLineHeight;
			}

			&__container {
				position: relative;
				display: block;
				float: left;
				width: 60%;
				line-height: 2.2rem;
				box-sizing: border-box;
				padding: 0 20px;
				line-height: $filterLineHeight;

				&__input {
					box-sizing: border-box;
					width: 100%;
					border: solid 1px $filterInputBorderColor;
					background: $filterInputBackground;
					line-height: 1rem;
					padding: 8px 10px 6px;

					&--min, &--max {
						width: 47%;
						padding: 8px 5px 6px;
					}

					&--min {
						margin: 0 6% 0 0;
					}

					&--max {
						margin: 0 0 0 -6px;
					}
				}

				&__radiobutton {
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					opacity: 0;

					&__style {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						width: 100%;
						box-sizing: border-box;
						padding: 8px 0 6px 10px;

						&::after {
							content: "-";
							font-weight: bold;
							display: block;
							font-size: 1.8rem;
							line-height: 2.0rem;
							text-align: center;
							background: transparent;
							border: solid 1px $filterInputBorderColor;
							color: $checkmarkTransparent;
							opacity: 0.5;
							cursor: pointer;
						}

						&--yes {
							&::after {
								content: "✓";
								color: $checkmarkGreen;
							}
						}

						&--no {
							&::after {
								content: "✗";
								color: $checkmarkRed;
							}
						}
					}

					&:checked {
						& ~ .filter__list__item__container__radiobutton__style {
							&::after {
								background: $filterInputBackground;
								opacity: 1;
							}
						}
					}
				}

				&__checkbox {
					width: 50px;
					opacity: 0;
					margin: 0;
					padding: 0;

					&__style {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						width: 50px;
						padding: 8px 10px 6px;

						&::after {
							content: "✗";
							color: $checkmarkRed;
							background: $filterInputBackground;
							font-weight: bold;
							display: block;
							font-size: 1.8rem;
							padding-top: 0.2rem;
							line-height: 2.0rem;
							text-align: center;
							border: solid 1px $filterInputBorderColor;
							cursor: pointer;
						}
					}

					&:checked {
						& ~ .filter__list__item__container__checkbox__style {
							&::after {
								content: "✓";
								color: $checkmarkGreen;
							}
						}
					}
				}

				&__select {
					width: 100%;
					height: 100%;
					background: $filterInputBackground;
					border: solid 1px $filterInputBorderColor;
					padding: 8px 10px 6px;
					appearance: none;
				}

				&--minmax {
					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						display: block;
						width: 6px;
						height: 2px;
						margin: -1px 0 0 -4px;
						background: $filterPlusColor;
					}
				}

				&--radiobutton {
					display: inline-block;
					width: 60px;
					padding: 8px 10px 6px;
					flex-grow: 0;
				}
			}

			&:first-child:last-child {
				border-radius: 7px;
			}

			&:first-child {
				border-radius: 7px 7px 0 0;
			}

			&:last-child {
				border-radius: 0 0 7px 7px;
			}
		}
	}

	&__toggle {
		position: absolute;
		top: 0;
		left: 20px;
		width: 130px;
		height: 43px;
		margin: 0;
		padding: 0;
		opacity: 0;
		z-index: 1;
		cursor: pointer;

		&:checked ~ {
			& .filter__title {
				border-radius: 7px 7px 0 0;

				&::after {
					transition: transform .5s;
					transform: rotate(-180deg) scale(.5);
				}
			}

			& .filter {
				max-height: 1000px;

				&[data-filters="1"] {
					max-height: $filterLineHeight;
				}

				&[data-filters="2"] {
					max-height: calc(#{$filterLineHeight} * 2);
				}

				&[data-filters="3"] {
					max-height: calc(#{$filterLineHeight} * 3);
				}

				&[data-filters="4"] {
					max-height: calc(#{$filterLineHeight} * 4);
				}

				&[data-filters="5"] {
					max-height: calc(#{$filterLineHeight} * 5);
				}

				&[data-filters="6"] {
					max-height: calc(#{$filterLineHeight} * 6);
				}

				&[data-filters="7"] {
					max-height: calc(#{$filterLineHeight} * 7);
				}

				&[data-filters="8"] {
					max-height: calc(#{$filterLineHeight} * 8);
				}

				&[data-filters="9"] {
					max-height: calc(#{$filterLineHeight} * 9);
				}

				&[data-filters="10"] {
					max-height: calc(#{$filterLineHeight} * 10);
				}

				&[data-filters="11"] {
					max-height: calc(#{$filterLineHeight} * 11);
				}

				&[data-filters="12"] {
					max-height: calc(#{$filterLineHeight} * 12);
				}

				&[data-filters="13"] {
					max-height: calc(#{$filterLineHeight} * 13);
				}

				&[data-filters="14"] {
					max-height: calc(#{$filterLineHeight} * 14);
				}

				&[data-filters="15"] {
					max-height: calc(#{$filterLineHeight} * 15);
				}

				&[data-filters="16"] {
					max-height: calc(#{$filterLineHeight} * 16);
				}

				&[data-filters="17"] {
					max-height: calc(#{$filterLineHeight} * 17);
				}

				&[data-filters="18"] {
					max-height: calc(#{$filterLineHeight} * 18);
				}

				&[data-filters="19"] {
					max-height: calc(#{$filterLineHeight} * 19);
				}

				& .filter__list {
					&__item {
						&:first-child {
							border-radius: 0 7px 0 0;
						}

						&:last-child {
							border-radius: 0 0 7px 7px;
						}

						&:first-child:last-child {
							border-radius: 0 7px 7px 7px;
						}
					}
				}
			}
		}
	}
}

@media #{$tabletLandscape} {
	.filter {
		&__list {
			&__item {
				&__text {
					width: 30%;
				}

				&__container {
					width: 70%;

					&__input {
						&--min, &--max {
							width: 49%;
							padding: 8px 5px 6px;
						}

						&--min {
							margin: 0 2% 0 0;
						}
					}

					&--radiobutton {
						width: 50px;
					}
				}
			}
		}
	}
}
