.slider{
    position: relative;
    box-sizing: border-box;
    display: flex;
    transition: transform 0.35s ease-in-out;

    &__item{
        position: relative;
        box-sizing: border-box;
    }
}