.table {
	display: table;
	width: 100%;
	margin: 10px 0 0;

	&__headline {
		display: inline-block;
	}

	&__row {
		display: table-row;
		background: $tableBackgroundEven;

		&__td {
			display: none;
			vertical-align: top;
			padding: 2px 0;
			word-break: normal;
			width: auto;
			text-align: left;

			&__bold {
				display: block;
				font-weight: normal;
				border-bottom: solid 1px $tableStrongBorderColor;
			}

			&__text {
				display: block;
				padding: 8px 10px 6px;
				text-decoration: none;
			}

			&__link {
				display: block;
				padding: 8px 10px 6px;
				text-decoration: none;
				color: $tableLinkColor;
			}

			&--center {
				text-align: center;
			}

			&--header {
				background: $tableHeaderBackground;
				color: $tableHeaderFontColor;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				padding: 8px 10px 6px;
			}

			&--component, &--prestige {
				width: 50px;
				text-align: center;
			}

			&--true, &--false {
				text-align: center;
				vertical-align: middle;

				&:after {
					content: "";
					position: relative;
					display: inline-block;
				}
			}

			&--true {
				&:after {
					content: "✓";
					color: $checkmarkGreen;
				}
			}

			&--false {
				&:after {
					content: "✗";
					color: $checkmarkRed;
				}
			}

			&:first-child {
				display: table-cell;
			}
		}

		&:nth-child(odd) {
			background: $tableBackgroundOdd;
		}
	}
}

.table-advancement {
	display: block;
	width: 100%;
	margin: 10px 0 0;

	&__headline {
		display: inline-block;
	}

	&__row {
		display: grid;
		grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
		background: $tableBackgroundEven;

		&__td {
			display: block;
			vertical-align: top;
			padding: 2px 0;
			word-break: normal;
			width: auto;

			&__bold {
				display: block;
				font-weight: normal;
				border-bottom: solid 1px $tableStrongBorderColor;
			}

			&__text {
				display: block;
				padding: 8px 10px 6px;
				text-decoration: none;
			}

			&__link {
				display: block;
				padding: 8px 10px 6px;
				text-decoration: none;
				color: $tableLinkColor;
			}

			&--center {
				text-align: center;
			}

			&--header {
				background: $tableHeaderBackground;
				color: $tableHeaderFontColor;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				padding: 8px 10px 6px;
			}

			&--component, &--prestige {
				width: 50px;
				text-align: center;
			}

			&--true, &--false {
				text-align: center;
				vertical-align: middle;

				&:after {
					content: "";
					position: relative;
					display: inline-block;
				}
			}

			&--true {
				&:after {
					content: "✓";
					color: $checkmarkGreen;
				}
			}

			&--false {
				&:after {
					content: "✗";
					color: $checkmarkRed;
				}
			}

			&:first-child {
				display: table-cell;
			}
		}

		&:nth-child(odd) {
			background: $tableBackgroundOdd;
		}
	}
}


@media #{$mobileLandscape} {
	.table{
		&__row{
			&__td{
				min-width: 250px;

				&:last-child{
					display: table-cell;
				}
			}
		}
	}
}

@media #{$tabletPortrait} {
	.table{
		&__row{
			&__td{
				min-width: 250px;
			}
		}
	}
}

@media #{$tabletLandscape} {
	.table{
		&__row{
			&__td{
				min-width: 230px;

				&--component, &--prestige{
					width: 50px;
					min-width: 50px;
				}

				&:nth-child(2){
					display: table-cell;
				}
			}
		}
	}
}

@media #{$desktopLarge} {
	.table{
		&__row{
			&__td{
				display: table-cell;
			}
		}
	}
}