html, body {
	display: flex;
	@include LanguageFontDefault();
	font-size: $fontSize;
	color: $fontColor;
	min-height: 100%;
	width: 100%;
	background: $backgroundPage 0 0 repeat;
}

.page {
	position: relative;
	display: flex;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: [header] 70px [main] auto [footer] 60px;
	grid-template-areas: 
    "header"
    "main"
    "footer";
	flex-flow: column nowrap;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}
@media #{$mobilePortrait} {
	.page{
		height: 100%;
		grid-template-rows: [header] 70px [main] auto [footer] 40px;
	}
}

.main {
	position: relative;
	margin-top: 70px;
	padding-bottom: 40px;
	order: 2;
	grid-area: main;
	flex: 1 1 100%;
	z-index: 1;
	overflow: auto;

	&__section{
		max-width: 1600px;
		margin: 0 auto;
		//display: flex;
		//height: 100%;
	}
}
@supports (display: grid) {
	.main{
		margin-top: 0px;
	}
}

.section {
	&__breadcrumb, &__intro, &__filter, &__header, &__main, &__slider, &__footer {
		position: relative;
		padding: 0;
		margin: 0 auto;
		float: none;
		width: 93%;
		vertical-align: top;
	}

	&__breadcrumb, &__intro, &__filter, &__header, &__main, &__footer {
		&__subtitle {
			display: inline-block;
			margin: 0 0 10px;
			padding: 5px 0;
			font-size: 1.3rem;
			text-decoration: none;
		}

		& p, & a {
			word-break: normal;
			font-size: 1.1rem;
			line-height: 1.6rem;
		}

		& p {
			color: $fontColor;
		}

		& a {
			color: $fontColorLink;
		}

		& h2 {
			margin: 10px 0 5px;
		}

		& h3 {
			margin: 15px 0 10px;
		}

		& h4 {
			margin: 30px 0 5px;
		}

		& table {
			width: 100%;
		}
	}

	&__breadcrumb, &__filter, &__header, &__main, &__slider {
		margin: 35px auto 0;
	}

	&__intro {
		margin: 15px auto 0;
		
		&__book {
			font-size: 1.4rem;
			line-height: 2rem;
			margin: 0 0 10px;
			display: inline-block;
			text-decoration: none;
		}
	}

	&__main {
		&--html {
			& p {
				margin: 30px 0 0;
			}

			& h3 + p {
				margin: 0;
			}

			& p + table {
				margin: 30px 0 0;
			}
		}
	}

	&__slider{
		overflow: hidden;
	}
}
@media #{$tabletPortrait} {
	.section{
		&__breadcrumb, &__intro, &__filter, &__header, &__main, &__slider, &__footer{
			padding: 0 auto;
			width: 95%;
		}
	}
}


div{
	&.-js-template{
		display: none;

		&[data-loaded='true']{
			display: block;
		}
	}
}