<meta charset="UTF-8" />
		<link rel="stylesheet" href="/_assets/css/main.css" />
		<title>#PAGETITLE#</title>
		<meta name="robots" content="#ROBOTS#" id="robots" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="title" content="#METATITLE#" />
		<meta name="description" content="#METADESCRIPTION#" />
		<meta name="keywords" content="#METAKEYWORDS#" />
		<link rel="image_src" href="">
		<meta itemprop="name" content="#PROPTITLE#" />
		<meta itemprop="description" content="#PROPDESCRIPTION#" />
		<meta itemprop="image" content="">
		<meta property="og:site_name" content="DnD" />
		<meta property="og:type" content="#OGTYPE#" />
		<meta property="og:title" content="#OGTITLE#" />
		<meta property="og:url" content="#OGURL#" />
		<meta property="og:description" content="#OGDESCRIPTION#" />
		<meta property="og:image" content="" />
		<meta name="twitter:card" content="#TWITTERCARD#" />
		<meta name="twitter:title" content="#TWITTERTITLE#" />
		<meta name="twitter:description" content="#TWITTERDESCRIPTION#" />
		<meta name="twitter:image" content="" />
		<link rel="canonical" href="#CANNONICAL#" />
		<link rel="apple-touch-icon" sizes="60x60" href="/_assets/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/_assets/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/_assets/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/_assets/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/_assets/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/_assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/_assets/favicons/favicon-16x16.png">
		<link rel="manifest" href="/_assets/favicons/manifest.json">
		<link rel="mask-icon" href="/_assets/favicons/safari-pinned-tab.svg" color="#ff0000">
		<link rel="shortcut icon" href="/_assets/favicons/favicon.ico">
		<meta name="apple-mobile-web-app-title" content="DnD">
		<meta name="application-name" content="DnD">
		<meta name="msapplication-config" content="/_assets/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<link rel="search" type="application/opensearchdescription+xml" href="dndsearch.xml" title="DnD" />