<!doctype html>
<html lang="en" disabled-manifest="/_assets/manifests/manifest.appcache">
    <head>
		#HEAD#
    </head>
	<body>
		<div class="page">
			<header class="header">
				#MENU#
				#LOGO#
				#SEARCH#
			</header>
			<main class="main">
				<article class="main__article">
					#MAIN#
				</article>
			</main>
			#FOOTER#
		</div>
		#OVERLAY#
		<script type="text/javascript">
			var dnd = dnd || {};
			dnd.database = #LOADDATA#;
			dnd.endpoint = "#MENUENDPOINT#";
			dnd.menu = "#MENUITEM#";
		</script>
		<script src="/_assets/scripts/main.js"></script>
	</body>
</html>