<input class="header__search__input" type="checkbox" />
				<div class="header__search__icon"><span class="header__search__icon__line header__search__icon__line--num1"></span><span class="header__search__icon__line header__search__icon__line--num2"></span></div>
				<form class="header__search" method="get" action="/search">
					<input class="header__search__searchfield" type="search" name="q" value="" placeholder="Search" />
					<input class="header__search__submit" type="submit" />
					<div class="header__search__icon header__search__icon--submit"><span class="header__search__icon__line header__search__icon__line--num1"></span><span class="header__search__icon__line header__search__icon__line--num2"></span></div>
				</form>