.breadcrumb{
	display: none;
	margin: 0;
	padding: 15px 2.5% 10px;

	&__listitem{
		display: inline-block;
		margin: 0;
		padding: 0;

		&__item{
			text-decoration: none;

			&__link, &__text{
				display: block;
				padding: 6px 6px 6px 0;
				text-decoration: none;
				color: var(--breadcrumbFontColor);
			}

			&__link{
				color: var(--breadcrumbFontLinkColor);

				&::after{
					content: "→";
					display: inline-block;
					padding: 0;
					margin: 0 0 0 6px;
					transition: transform 0.20s;
					transform: rotate(0deg) translate(0px, -1px);
				}
			}

			&:hover{
				& .breadcrumb__listitem__item{
					&__link{
						&::after{
							transform: rotate(180deg) translate(0px, -2px);
						}
					}
				}
			}
		}

	}
}

@media (--tabletLandscape) {
	.breadcrumb{
		display: block;
	}
}