.filter{
	display: block;
	overflow: hidden;
	max-height: 0px;
	transition: all 0.5s;

	&__title{
		&::after{
			position: relative;
			top: -6px;
			content: "-";
			margin: 0 0 0 6px;
			color: var(--filterPlusColor);
		}
	}

	&__toggle{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		margin: 0;
		padding: 0;
		opacity: 0;
		cursor: pointer;

		&:checked ~ {
			& .filter__title{
				&::after{
					content: "+";
					top: 3px;
				}
			}

			& .filter{
				max-height: 1000px;
			}
		}
	}



	&__list{
		display: block;
		width: 100%;
		margin: 5px 0;

		&__item{
			position: relative;
			display: block;
			float: left;
			width: 100%;
			background: var(--filterBackgroundEven);

			&__text, &__container{
				float: left;
				padding: 8px 0px 6px;
			}

			&__text{
				display: block;
				width: 40%;
				font-size: 1.4rem;
				line-height: 2.2rem;
				word-break: normal;
				line-height: 2.2rem;
			}
			&__container{
				position: relative;
				display: block;
				width: 59%;
				line-height: 2.2rem;

				&__input{
					width: 96%;
					border: solid 1px black;
					background: white;
					line-height: 1.0rem;
					padding: 8px 2% 6px;

					&--min, &--max{
						width: 42%;
						padding: 8px 2% 6px;
					}
					&--min{
						margin: 0 8% 0 0;
					}
					&--max{
						margin: 0 -6px;
					}
				}
				&__radiobutton{
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					opacity: 0;

					&__style{
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						width: 50px;
						padding: 8px 10px 6px 0;

						&::after{
							content: "-";
							font-weight: bold;
							display: block;
							font-size: 1.8rem;
							padding-top: 0.2rem;
							line-height: 2.0rem;
    						text-align: center;
							background: transparent;
							border: solid 1px black;
							color: var(--checkmarkTransparent);
							opacity: 0.5;
						}

						&--yes{
							&::after{
								content: "✓";
								color: var(--checkmarkGreen);
							}
						}
						&--no{
							&::after{
								content: "✗";
								color: var(--checkmarkRed);
							}
						}
					}

					&:checked{
						& ~ .filter__list__item__container__radiobutton__style{
							&::after{
								background: white;
								opacity: 1;
							}
						}
					}
				}
				&__checkbox{
					width: 50px;
					opacity: 0;
					margin: 0;
					padding: 0;

					&__style{
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						width: 50px;
						padding: 8px 10px 6px;

						&::after{
							content: "✗";
							color: var(--checkmarkRed);
							background: white;
							font-weight: bold;
							display: block;
							font-size: 1.8rem;
							padding-top: 0.2rem;
							line-height: 2.0rem;
    						text-align: center;
							border: solid 1px black;
						}
					}

					&:checked{
						& ~ .filter__list__item__container__checkbox__style{
							&::after{
								content: "✓";
								color: var(--checkmarkGreen);
							}
						}
					}
				}
				&__select{
					width: 100%;
					height: 100%;
					background: white;
					border: solid 1px black;
				}

				&--radiobutton{
					display: inline-block;
					width: 50px;
					padding: 8px 10px 6px 0;
					flex-grow: 0;
				}
			}

			&:nth-child(odd){
				background: var(--filterBackgroundOdd);
			}
		}
	}
}

@media (--tabletLandscape) {
	.filter{
		&__list{
			&__item{
				&__text{
					width: 30%;
				}
				&__container{
					width: 69%;

					&__input{
						&--min, &--max{
							width: 45%;
							padding: 8px 2% 6px;
						}
						&--min{
							margin: 0 2% 0 0;
						}
					}

					&--radiobutton{
						width: 50px;
					}
				}
			}
		}
	}
}