.list{
	display: block;
	padding: 0;

	&__item{
		display: block;
		margin: 0;

		&__link{
			display: block;
			color: #9d0a0e;
			padding: 2px 0;
			text-decoration: none;

			&__info{
				display: block;
				margin: 0 0 3px;
				color: var(--fontColor);
				font-size: 0.9rem;
				line-height: 1.1rem;
			}
		}
		&__text{
			display: inline-block;
			color: #9d0a0e;
			padding: 0px 0px 0px 4px;
			text-decoration: none;
		}

		&:last-child{
			& .list__item{
				&__link{
					&::after{
						display: none;
					}
				}
			}
		}
	}
}

@media (--tabletLandscape) {
	.list{
		padding: 0 0 0 4px;

		&__item{
			display: inline-block;
			margin: 0 0 0 -4px;

			&__link{
				display: inline-block;

				&__info{
					display: inline-block;
					margin: 0 0 0 2px;
				}

				&::after{
					content: ",";
					display: inline-block;
					padding: 0;
					margin: 0 10px 0 0;
					transform: none;
					transition: none;
					color: var(--fontColor);
				}
			}
		}
	}
}