#Loader{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;
	opacity: 1;
	z-index: 999;
	overflow: hidden;
}


#Loader.loaded{
	animation-name: loaderdelay;
    animation-duration: 0.5s;
	height: 0%;
	opacity: 0;
}

#Loader::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--loaderOverlay);
	opacity: 0.7;
}

#Loader p{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 240px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 10px 0 0 -120px;
	font-size: 2rem;
	text-align: center;
	color: var(--loaderColor);
}

#Loader .spinner{
	position: absolute;
	top: 45%;
	left: 50%;
}

@keyframes loaderdelay {
	0% { height: 100%; opacity: 0.7; }
	90% { height: 100%; opacity: 0; }
	100% { height: 0%; opacity: 0; }
}
