.table-paging{
	display: block;
	margin: 15px 0 10px;
	float: left;
	vertical-align: top;

	&__item{
		float: left;
		display: block;
		color: var(--pagingFontColor);
		padding: 0 2px;
		text-decoration: none;

		&--tablet{
			display: none;
		}
	}
}


@media (--mobileLandscape) {
	.table-paging{
		&__item{
			padding: 0 5px;

			&--tablet{
				display: inline;
			}
		}
	}
}