.table{
	display: table;
	width: 100%;
	margin: 10px 0 0;

	&__row{
		display: table-row;
		background: var(--tableBackgroundEven);

		&__td{
			display: table-cell;
			padding: 8px 10px 6px;
			display: none;
			vertical-align: top;
			font-size: 1.5rem;
			line-height: 1.6rem;
			word-break: normal;

			&__bold{
				display: block;
				font-weight: normal;
				border-bottom: solid 1px var(--tableStrongBorderColor);
			}
			&__link{
				display: block;
				text-decoration: none;
				color: var(--tableLinkColor);
			}

			&--header{
				background: var(--tableHeaderBackground);
				color: var(--tableHeaderFontColor);

			}

			&:first-child{
				display: block;
			}
			&:nth-child(2){
				width: auto;
			}
		}

		&:nth-child(odd){
			background: var(--tableBackgroundOdd);
		}
	}
}

@media (--tabletPortrait) {
	.table{
		&__row{
			&__td{
				&:first-child{
					width: 200px;
				}
				&:nth-child(2){
					display: table-cell;
				}
			}
		}
	}
}

@media (--tabletLandscape) {
	.table{
		&__row{
			&__td{
				width: 200px;

				&:last-child{
					display: table-cell;
				}
				&:nth-child(2){
					width: auto;
				}
			}
		}
	}
}

@media (--desktop) {
	.table{
		&__row{
			&__td{
				display: table-cell;
			}
		}
	}
}