.table-amount{
	display: block;
	margin: -27px 0 10px;
	float: right;
	vertical-align: top;
	font-size: 1.5rem;
	line-height: 1.6rem;

	&__label{
	}
	&__text{
		text-transform: uppercase;
		vertical-align: top;
	}
	&__select{
		width: 55px;
		height: 1.6rem;
		vertical-align: top;
	}
}