.table-amount{
	display: block;
	margin: 10px 0;
	float: right;
	vertical-align: top;
	font-size: 1.8rem;
	line-height: 1.8rem;

	&__text{
		vertical-align: top;
		@apply --LanguageFontCommon;
	}
	&__select{
		width: 55px;
		height: 1.8rem;
		vertical-align: top;
	}
}