.header{
	position: relative;
	order: 1;
	z-index: 3;
	flex-shrink: 0;
	height: 70px;
	background: var(--backgroundHeader) var(--background) 50% 0 repeat-x;
	box-shadow: -5px -15px 25px 15px var(--shadow);

	&__logo{
		position: absolute;
		top: 5px;
		left: 50%;
		width: 65px;
		height: 60px;
		margin: 0 0 0 -25px;
		text-decoration: none;
		z-index: 1;
		color: var(--logoColor);

		&::before, &::after{
			position: absolute;
			top: 0;
			content: "D";
			color: var(--logoTextColor);
			font-size: 4rem;
			line-height: 55px;
			font-weight: normal;
			padding: 4px 10px 0;
			z-index: -1;
			transform:scale(1.6,1);
		}

		&::before{
			right: 68%;
		}

		&::after{
			left: 56%;
		}
	}

	&__search{
		position: absolute;
		top: 0;
		z-index: 2;
		right: 80px;
		height: 100%;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(0, -110%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		display: none;

		&__input{
			margin: 0;
			padding: 0;
			border: none;
			background: transparent;
			position: absolute;
			display: block;
			width: 80px;
			height: 100%;
			right: 0;
			top: 0;
			z-index: 3;
			opacity: 0;
			cursor: pointer;
			display: none;

			&:checked ~ .header__search {
				transform: scale(1.0, 1.0);
				transform: translate(0, 0);
				opacity: 1;

				&__icon{
					& .header__search__icon__line{
						&--num1{
							width: 32px;
						}

						&--num2{
							border-radius: 3px;
							width: 32px;
							height: 0px;
							border-width: 2px 0;
							transform-origin: 28px 8px;
							transform: rotate(-45deg);
						}
					}
				}
			}
		}

		&__icon{
			position: absolute;
			display: none;
			width: 33px;
			z-index: 2;
			height: 33px;
			top: 50%;
			right: 20px;
			margin: -15px 0 0;

			&__line{
				display: block;
				width: 10px;
				height: 0px;
				border-radius: 3px;
				z-index: 1;
				opacity: 1;
				border: solid 2px var(--searchFieldIcon);
				transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;

				&--num1{
					width: 10px;
					height: 0px;
					border-width: 2px 0;
					transform-origin: 19px 9px;
					transform: rotate(-135deg);
				}

				&--num2{
					border-radius: 50%;
					width: 10px;
					height: 10px;
					border-width: 3px;
					transform-origin: 17px 0px;
					transform: rotate(-45deg);
				}
			}

			&--submit{
				margin: -17px 0 0 0;
				right: 8px;
			}
		}

		&__searchfield, &__submit{
			position: relative;
			display: block;
			top: 16px;
			width: auto;
			border: none 0;
			float: left;
			background: transparent;
			line-height: 38px;
			outline: none 0;
			z-index: 3;
		}

		&__searchfield{
			background: var(--searchField);
			border-radius: 7px;
			width: 150px;
			padding: 0 10px;
			border: solid 1px var(--searchFieldBorder);
			color: var(--searchFieldText);
		}

		&__submit{
			position: relative;
			width: 48px;
			height: 38px;
			text-indent: -9999px;
			overflow: hidden;
			cursor: pointer;
		}
	}
}

@media (--mobilePortrait) {
	.header{
		&__search{
			right: 80px;
			display: block;

			&__input, &__icon{
				display: block;
			}
		}
	}
}

@media (--tabletLandscape) {
	.header{
		&__search{
			&__searchfield{
				width: 225px;
			}
		}
	}
}

@media (--desktop) {
	.header{
		&__search{
			&__searchfield{
				width: 300px;
			}
		}
	}
}

@media (--desktopLarge) {
	.header{
		&__search{
			&__searchfield{
				width: 400px;
			}
		}
	}
}