html, body {
	display: flex;
	@apply --LanguageFontDefault;
	font-size: var(--fontSize);
	color: var(--fontColor);
	min-height: 100%;
	width: 100%;
	background: var(--backgroundPage) 0 0 repeat;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

.main {
	position: relative;
	margin-top: 70px;
	padding-bottom: 40px;
	order: 2;
	flex-grow: 1;
	z-index: 1;
	overflow: auto;
	/*word-break: break-all;*/

	&__article{
		max-width: 1600px;
		margin: 0 auto;
	}
}

.section{
	&__intro{
		&__book{
			font-size: 1.4rem;
			line-height: 2rem;
			margin: 0 0 10px;
			display: inline-block;
			text-decoration: none;
		}
	}

	&__breadcrumb, &__intro, &__filter, &__header, &__main, &__footer{
		position: relative;
		padding: 0 2.5%;
		float: left;
		width: 95%;
		vertical-align: top;

		&__subtitle{
			display: inline-block;
			margin: 0 0 10px;
			padding: 5px 0;
			font-size: 1.3rem;
			text-decoration: none;
		}

		& p, & a{
			word-break: normal;
			font-size: 1.1rem;
    		line-height: 1.6rem;
		}

		& p{
			color: var(--fontColor);
		}

		& a{
			color: var(--fontColorLink);
		}

		& h2{
			margin: 10px 0 5px;
		}

		& h3{
			margin: 15px 0 10px;
		}

		& h4{
			margin: 30px 0 5px;
		}

		& table{
			width: 100%;

			& th, & td {
				text-align: left;
			}
		}
	}
	&__intro{
		margin: 15px 0 0;
	}
	&__main{
		&--html{
			& p{
				margin: 30px 0 0;
			}
			& h3 + p {
				margin: 0;
			}
			& p + table {
				margin: 30px 0 0;
			}
		}
	}
	&__breadcrumb, &__filter, &__header, &__main{
		margin: 35px 0 0;
	}
}


div{
	&.-js-template{
		display: none;

		&[data-loaded='true']{
			display: block;
		}
	}
}