html, body {
	@apply --LanguageFontDefault;
	line-height: 18px;
	font-size: var(--fontSize);
}

.page {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main {
	position: relative;
	order: 2;
	flex-grow: 1;
	z-index: 1;
	overflow: auto;
	word-break: break-all;
	background: var(--backgroundPage) var(--background) 0 0 repeat;
}

