html, body {
	@apply --LanguageFontDefault;
	font-size: var(--fontSize);
	height: 100%;
	background: var(--backgroundPage) var(--background) 0 0 repeat;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

.main {
	position: relative;
	margin-top: 70px;
	order: 2;
	flex-grow: 1;
	z-index: 1;
	overflow: auto;
	word-break: break-all;

	&__article{
		&__data{
			max-width: 1200px;
			margin: 0 auto;
		}
	}
}

.section{
	&__intro, &__filter, &__header, &__main, &__footer{
		position: relative;
		padding: 0 2.5%;
		float: left;
		width: 95%;
		vertical-align: top;
	}
	&__intro, &__filter, &__header, &__main{
		margin: 20px 0 0;
	}
}