.header{
	&__nav{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 90%;
		max-width: 400px;
		background: var(--navBackgroundHeader) var(--navBackground) 0 0 repeat;
		box-shadow: 0 0 25px 0px var(--shadow);
		font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(-150%, 0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		z-index: 89;

		&__input{
			margin: 0;
			padding: 0;
			border: none;
			background: transparent;
			display: block;
			width: 70px;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			cursor: pointer;
			opacity: 0;
			z-index: 99;

			&:checked ~ .header__nav{
				transform: scale(1.0, 1.0);
				opacity: 1;

				&__icon{
					transition: all 0.5s;

					& .header__nav__icon__line{
						opacity: 1;

						&--num1{
							animation-name: burgerMenuMoveTop;
							animation-duration: 0.75s;
							animation-fill-mode: forwards;
						}

						&--num2{
							opacity: 0;
							left: 50%;
							width: 0%;
							position: relative;
						}

						&--num3{
							animation-name: burgerMenuMoveBottom;
							animation-duration: 0.75s;
							animation-fill-mode: forwards;
						}
					}
				}
			}
		}

		&__icon{
			position: absolute;
			top: 50%;
			left: 26px;
			transition: all 0.5s;
			margin: -9px 0 0;
			z-index: 98;

			&__line{
				display: block;
				left: 0;
				width: 33px;
				height: 4px;
				margin-bottom: 5px;
				position: relative;
				background: var(--navBurgerColor);
				border-radius: 3px;
				z-index: 1;
				transform-origin: 4px 0px;


				&--num1{
					transform: rotate(0deg) translate(0px, 0px);
					animation-name: burgerMenuMoveTopBack;
					animation-duration: 0.75s;
					animation-fill-mode: forwards;
				}

				&--num2{
					opacity: 1;
					transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
				}

				&--num3{
					transform: rotate(0deg) translate(0px, 0px);
					animation-name: burgerMenuMoveBottomBack;
					animation-duration: 0.75s;
					animation-fill-mode: forwards;
				}
			}
		}

		&__label{
			display: block;
			font-size: 1.8rem;
			line-height: 64px;
			padding: 8px 25px 0 0;
			margin: 0 0 0 70px;
			opacity: 0.4;
			text-transform: uppercase;
		}

		&__list{
			position: absolute;
			top: 70px;
			left: 0;
			width: 100%;
			bottom: 0px;
			overflow: auto;
			display: block;
			transition: all 1s;

			&__item{
				position: relative;
				line-height: var(--navAccordionHeight);
				min-height: var(--navAccordionHeight);

				&__input{
					position: absolute;
					top: 0;
					left: 0;
					width: 70px;
					height: var(--navAccordionHeight);
					z-index: 2;
					opacity: 0;
					cursor: pointer;
					margin: 0;
					padding: 0;
					border: none;
					background: transparent;

					&:checked ~ .header__nav__list__item{
						&__bullet{
							& .header__nav__list__item__bullet__icon{
								transform: rotateX(-180deg);
							}
						}
						&__list{
							max-height: 1000px;
						}
					}
				}

				&__bullet{
					position: absolute;
					display: block;
					left: 10px;
					top: 0;
					width: 60px;
					height: var(--navAccordionHeight);
					cursor: pointer;

					&__icon{
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						width: 36px;
						height: 36px;
						margin: -18px 0 0 -18px;
						cursor: pointer;
						border-radius: 50%;
						background: var(--navAccordion0IconColor);
						transition: transform 0.5s;

						&::before, &::after{
							position: absolute;
							left: 50%;
							top: 6px;
							width: 18px;
							height: 6px;
							margin: 0 0 0 -9px;
							content: "";
							display: block;
							background: var(--navAccordion0IconBackground);
						}

						&::before{
							transform: rotate(45deg) translate(4px, 10px);
						}

						&::after{
							transform: rotate(-45deg) translate(-4px, 10px);
						}
					}
				}

				&__link{
					position: relative;
					color: var(--navAccordion0FontColor);
					display: block;
					font-size: 1.7rem;
					font-weight: normal;
					line-height: calc(var(--navAccordionHeight) - 6);
					text-decoration: none;
					text-transform: uppercase;
					padding: 6px 0 0;
					margin: 0 0 0 70px;
				}

				&__line{
					position: absolute;
					display: block;
					top: 100%;
					width: 100%;
					height: 1px;
					margin: -1px 0 0;
					padding: 0;
					opacity: 1;
					background: transparent;
					border: none;
					transition: all 0.5s;

					&::before, &::after{
						content: "";
						position: absolute;
						display: block;
						width: 35%;
						height: 100%;
					}

					&::before{
						left: 15%;
						right: auto;
						background: linear-gradient(to right, var(--navAccordion0SpacerTransparent), var(--navAccordion0SpacerColor));
					}

					&::after{
						left: auto;
						right: 15%;
						background: linear-gradient(to right, var(--navAccordion0SpacerColor), var(--navAccordion0SpacerTransparent));
					}
				}

				&__list{
					display: block;
					transition: all 0.5s;
					margin: 0;
					overflow: hidden;
					max-height: 0px;

					&__item{
						position: relative;
						line-height: var(--navAccordionSubHeight);
						background: var(--navAccordion1Background);

						&__input{
							position: absolute;
							top: 0;
							left: 0;
							height: var(--navAccordionSubHeight);
							width: 90px;
							z-index: 2;
							opacity: 0;
							cursor: pointer;
							margin: 0;
							padding: 0;
							border: none;
							background: transparent;

							&:checked ~ .header__nav__list__item__list__item{
								&__bullet{
									& .header__nav__list__item__list__item__bullet__icon{
										transform: rotate(-180deg);
									}
								}
								&__list{
									max-height: 500px;
								}
							}
						}

						&__bullet{
							left: 45px;
							width: 50px;
							height: var(--navAccordionSubHeight);
							position: absolute;
							display: block;
							top: 0;
							cursor: pointer;

							&__icon{
								position: absolute;
								display: block;
								left: 50%;
								top: 50%;
								width: 24px;
								height: 24px;
								margin: -12px 0 0 -12px;
								background: var(--navAccordion1IconColor);
								cursor: pointer;
								border-radius: 50%;
								transition: transform 0.5s;

								&::before, &::after{
									content: "";
									position: absolute;
									display: block;
									top: 2px;
									left: 50%;
									width: 12px;
									height: 4px;
									margin: 0 0 0 -6px;
									background: var(--navAccordion1IconBackground);
								}

								&::before{
									transform: rotate(45deg) translate(4px, 8px);
								}

								&::after{
									transform: rotate(-45deg) translate(-4px, 8px);
								}
							}
						}

						&__link{
							position: relative;
							display: block;
							margin: 0 0 0 95px;
							padding: 4px 0 0;
							font-size: 1rem;
							line-height: calc(var(--navAccordionSubHeight) - 4);
							font-weight: normal;
							text-decoration: none;
							text-transform: uppercase;
							color: var(--navAccordion1FontColor);
						}

						&__line{
							position: absolute;
							display: block;
							top: 0;
							margin: 0;
							width: 100%;
							height: 1px;
							padding: 0;
							opacity: 1;
							background: transparent;
							border: none;
							transition: all 0.5s;

							&::before, &::after{
								content: "";
								position: absolute;
								display: block;
								width: 35%;
								height: 100%;
							}

							&::before{
								left: 15%;
								right: auto;
								background: linear-gradient(to right, var(--navAccordion1SpacerTransparent), var(--navAccordion1SpacerColor));
							}

							&::after{
								left: auto;
								right: 15%;
								background: linear-gradient(to right, var(--navAccordion1SpacerColor), var(--navAccordion1SpacerTransparent));
							}
						}

						&__list{
							display: block;
							transition: all 0.5s;
							margin: 0;
							overflow: hidden;
							max-height: 0px;

							&__item{
								position: relative;
								line-height: var(--navAccordionSubHeight);
								background: var(--navAccordion2Background);

								&__input, &__bullet{
									display: none;
								}

								&__link{
									position: relative;
									display: block;
									margin: 0 0 0 95px;
									padding: 4px 0 0;
									font-size: 1rem;
									line-height: calc(var(--navAccordionSubHeight) - 4);
									font-weight: normal;
									text-decoration: none;
									text-transform: uppercase;
									color: var(--navAccordion2FontColor);
								}

								&__line{
									position: absolute;
									display: block;
									top: 0;
									margin: 0;
									width: 100%;
									height: 1px;
									padding: 0;
									opacity: 1;
									background: transparent;
									border: none;
									transition: all 0.5s;

									&::before, &::after{
										content: "";
										position: absolute;
										display: block;
										width: 35%;
										height: 100%;
									}

									&::before{
										left: 15%;
										right: auto;
										background: linear-gradient(to right, var(--navAccordion1SpacerTransparent), var(--navAccordion1SpacerColor));
									}

									&::after{
										left: auto;
										right: 15%;
										background: linear-gradient(to right, var(--navAccordion1SpacerColor), var(--navAccordion1SpacerTransparent));
									}
								}
							}
						}
					}
				}

				&:last-child{
					& .header__nav__list__item__line{
						display: none;
					}
				}
			}
		}
	}
}

/* main */
.main{
	&__article{
		&__nav{
			position: relative;
			display: block;
			padding: 10px;

			&__link{
				position: relative;
				display: block;
				float: left;
				width: 98%;
				height: 150px;
				background: var(--navMainBackground);
				color: var(--navMainFontColor);
				margin: 0 1% 10px;
				text-decoration: none;

				&:active, &:visited{
					background: var(--navMainBackground);
					color: var(--navMainFontColor);
				}
			}

			&__title{
				display: block;
				padding: 14px 7px 8px 20px;
				font-weight: bold;
				font-size: 2rem;
				font-weight: normal;
			}

			&__text{
				display: block;
				padding: 0 7px 0 30px;
				font-size: 0.9rem;
				font-style: normal;
				font-weight: normal;
			}

			&__note{
				position: absolute;
				bottom: 4px;
				right: 9px;
				display: block;
				font-size: 1.2rem;
				line-height: 1.5rem;
			}
		}
	}
}

@media (--mobilePortrait) {
	.main{
		&__article{
			&__nav{
				&__link{
					width: 48%;
				}
			}
		}
	}
}

@media (--tabletPortrait) {
	.main{
		&__article{
			&__nav{
				&__link{
					width: 31%;
				}
			}
		}
	}
}

@media (--desktop) {
	.main{
		&__article{
			&__nav{
				&__link{
					width: 23%;
				}
			}
		}
	}
}

@media (--desktopLarge) {
	.main{
		&__article{
			&__nav{
				&__link{
					width: 18%;
				}
			}
		}
	}
}




@keyframes burgerMenuMoveTopBack {
    0%   {
		transform: rotate(45deg) translate(4px, 0);
	}
	50%  {
		transform: rotate(0deg) translate(0px, 9px);
	}
    100% {
		transform: rotate(0deg) translate(0px, 0px);
	}
}
@keyframes burgerMenuMoveTop {
    0%   {
		transform: rotate(0deg) translate(0px, 0px);
	}
	50%  {
		transform: rotate(0deg) translate(0px, 9px);
	}
    100% {
		transform: rotate(45deg) translate(4px, 0);
	}
}

@keyframes burgerMenuMoveBottomBack {
    0%   {
		transform: rotate(-45deg) translate(-3px, 1px);
	}
	50%  {
		transform: rotate(0deg) translate(0px, -9px);
	}
    100% {
		transform: rotate(0deg) translate(0px, 0px);
	}
}
@keyframes burgerMenuMoveBottom {
    0%   {
		transform: rotate(0deg) translate(0px, 0px);
	}
	50%  {
		transform: rotate(0deg) translate(0px, -9px);
	}
    100% {
		transform: rotate(-45deg) translate(-3px, 1px);
	}
}