/* Alphabets */
@font-face {
  font-family: 'Celestial';
  src:
    url('/_assets/fonts/Celestial.woff2') format('woff2'),
    url('/_assets/fonts/Celestial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Common';
  src:
    url('/_assets/fonts/Common.woff2') format('woff2'),
    url('/_assets/fonts/Common.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Draconic';
  src:
    url('/_assets/fonts/Draconic.woff2') format('woff2'),
    url('/_assets/fonts/Draconic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Druidic';
  src:
    url('/_assets/fonts/Druidic.woff2') format('woff2'),
    url('/_assets/fonts/Druidic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dwarven';
  src:
    url('/_assets/fonts/Dwarven.woff2') format('woff2'),
    url('/_assets/fonts/Dwarven.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Elven';
  src:
    url('/_assets/fonts/Elven.woff2') format('woff2'),
    url('/_assets/fonts/Elven.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Infernal';
  src:
    url('/_assets/fonts/Infernal.woff2') format('woff2'),
    url('/_assets/fonts/Infernal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



