<input name="navigation" class="header__nav__input header__nav__input--on" id="navigationOn" type="radio" />
<input name="navigation" class="header__nav__input header__nav__input--off" id="navigationOff" type="radio" />
<div class="header__nav__icon"><span class="header__nav__icon__line header__nav__icon__line--num1"></span><span class="header__nav__icon__line header__nav__icon__line--num2"></span><span class="header__nav__icon__line header__nav__icon__line--num3"></span></div>
<label for="navigationOff" class="header__nav__close"></label>
<nav class="header__nav" role="navigation" data-slow="/_assets/images/bg.png">
	<span class="header__nav__label">Menu</span>
	<ul class="header__nav__list">
		<li class="header__nav__list__item" data-menu-item="">
			<a class="header__nav__list__item__link" href="/character">Character</a>
			<hr class="header__nav__list__item__line"/>
		</li>
		#LEVEL1#
	</ul>
</nav>