:root {
	/* colors */
	--trans: transparent;
	--white: #ffffff;
	--black: #000000;

	--beige: #f9f7ec;
	--grayBlack: #151515;
	--grayDark: #333333;
	--grayLight: #61605c;
	--red: #9d0a0e;


	/* variables */
	--pathBackground: url('/_assets/images/bg.jpg');
	--pathLogo: url('/_assets/images/logo.png');


	/* breakpoints */
	@custom-media --mobilePortrait (min-width: 30em);/* (480px) */
	@custom-media --mobileLandscape (min-width: 37.5em);/* (600px) */
	@custom-media --tabletPortrait (min-width: 48em);/* (768px) */
	@custom-media --tabletLandscape (min-width: 56.25em);/* (900px) */
	@custom-media --desktop (min-width: 68.75em);/* (1100px) */
	@custom-media --desktopLarge (min-width: 81.25em);/* (1300px) */


	/* layout */
	--shadow: var(--black);
	--background: var(--pathBackground);
	--backgroundLogo: var(--pathLogo);
	--backgroundSite: var(--beige);
	--backgroundPage: var(--beige);
	--backgroundHeader: var(--beige);
	--backgroundFooter: var(--grayBlack);
	--fontSize: 15px;


	/* logo */
	--logoFontColor: var(--black);


	/* loader */
	--loaderOverlay: var(--beige);
	--loaderColor: var(--grayBlack);


	/* nav */
	--navBurgerColor: var(--grayLight);
	--navBackground: var(--pathBackground);
	--navBackgroundHeader: var(--beige);
	--navFontColor: var(--grayDark);
	--navAccordionHeight: 60px;
	--navAccordionSubHeight: 50px;

	--navAccordion0FontColor: var(--grayDark);
	--navAccordion0Background: var(--trans);
	--navAccordion0SpacerTransparent: var(--trans);
	--navAccordion0SpacerColor: var(--grayBlack);
	--navAccordion0IconColor: var(--red);
	--navAccordion0IconBackground: var(--pathBackground);

	--navAccordion1FontColor: var(--white);
	--navAccordion1Background: var(--red);
	--navAccordion1SpacerTransparent: var(--trans);
	--navAccordion1SpacerColor: var(--white);
	--navAccordion1IconColor: var(--white);
	--navAccordion1IconBackground: var(--red);

	--navAccordion2FontColor: var(--white);
	--navAccordion2Background: var(--grayDark);

	--navMainBackground: var(--red);
	--navMainFontColor: var(--white);
}

/* Languages */
:root {
	/* Default */
	--LanguageFontDefault: { font-family: 'Common'; font-weight: normal; font-style: normal; letter-spacing: 1.1px; }
	/* Celestial Alphabet */
	--LanguageFontCelestial: { font-family: 'Celestial'; font-weight: normal; font-style: normal; }

	/* Common Alphabet */
	--LanguageFontCommon: { font-family: 'Common'; font-weight: normal; font-style: normal; }
	--LanguageFontGnoll: { font-family: 'Common'; font-weight: normal; font-style: normal; }
	--LanguageFontHalfling: { font-family: 'Common'; font-weight: normal; font-style: normal; }

	/* Draconic Alphabet */
	--LanguageFontAuran: { font-family: 'Draconic'; font-weight: normal; font-style: normal; }
	--LanguageFontDraconic: { font-family: 'Draconic'; font-weight: normal; font-style: normal; }
	--LanguageFontIgnan: { font-family: 'Draconic'; font-weight: normal; font-style: normal; }

	/* Druidic Alphabet */
	--LanguageFontDruid: { font-family: 'Druidic'; font-weight: normal; font-style: normal; }

	/* Dwarven Alphabet */
	--LanguageFontDwarven: { font-family: 'Dwarven'; font-weight: normal; font-style: normal; }
	--LanguageFontGiant: { font-family: 'Dwarven'; font-weight: normal; font-style: normal; }
	--LanguageFontGnome: { font-family: 'Dwarven'; font-weight: normal; font-style: normal; }
	--LanguageFontGoblin: { font-family: 'Dwarven'; font-weight: normal; font-style: normal; }
	--LanguageFontOrc: { font-family: 'Dwarven'; font-weight: normal; font-style: normal; }

	/* Elven Alphabet */
	--LanguageFontAquan: { font-family: 'Elven'; font-weight: normal; font-style: normal; }
	--LanguageFontElven: { font-family: 'Elven'; font-weight: normal; font-style: normal; }
	--LanguageFontUndercommon: { font-family: 'Elven'; font-weight: normal; font-style: normal; }

	/* Infernal Alphabet */
	--LanguageFontAbyssal: { font-family: 'Infernal'; font-weight: normal; font-style: normal; }
	--LanguageFontInfernal: { font-family: 'Infernal'; font-weight: normal; font-style: normal; }
}