:root {
	/* colors */
	--transparent: rgba(0,0,0,0);
	--whiteRGB: 255,255,255;
	--blackRGB: 0,0,0;

	--beigeRGB: 250,243,232;
	--grayBlackRGB: 21,21,21;
	--grayDarkRGB: 51,51,51;
	--grayLightRGB: 97,96,92;
	--redDarkRGB: 157,10,14;
	--redRGB: 255,0,0;
	--greenDarkRGB: 27, 157, 9;


	/* variables */
	--pathBackground: url('/_assets/images/bg.png');
	--pathLogo: url('/_assets/images/logo.png');


	/* breakpoints */
	@custom-media --mobilePortrait (min-width: 25em);/* (480px) */
	@custom-media --mobileLandscape (min-width: 37.5em);/* (600px) */
	@custom-media --tabletPortrait (min-width: 48em);/* (768px) */
	@custom-media --tabletLandscape (min-width: 56.25em);/* (900px) */
	@custom-media --desktop (min-width: 68.75em);/* (1100px) */
	@custom-media --desktopLarge (min-width: 81.25em);/* (1300px) */


	/* layout */
	--selectionBackground: rgba(var(--redRGB),1);
	--selectionFontColor: rgba(var(--grayBlackRGB),1);
	--shadow: rgba(var(--blackRGB),1);
	--background: var(--pathBackground);
	--backgroundLogo: var(--pathLogo);
	--backgroundSite: rgba(var(--beigeRGB),1);
	--backgroundPage: rgba(var(--beigeRGB),1);
	--backgroundHeader: rgba(var(--beigeRGB),1);
	--backgroundFooter: rgba(var(--grayBlackRGB),1);
	--fontSize: 16px;

	--checkmarkTransparent: rgba(var(--greenDarkRGB),0);
	--checkmarkGreen: rgba(var(--greenDarkRGB),1);
	--checkmarkRed: rgba(var(--redDarkRGB),1);

	/* logo */
	--logoColor: rgba(var(--redRGB),1);
	--logoTextColor: rgba(var(--grayDarkRGB),1);


	/* loader */
	--loaderOverlay: rgba(var(--beigeRGB),1);
	--loaderColor: rgba(var(--grayBlackRGB),1);


	/* search */
	--searchField: rgba(var(--whiteRGB),1);
	--searchFieldIcon: rgba(var(--grayBlackRGB),1);
	--searchFieldBorder: rgba(var(--grayBlackRGB),1);
	--searchFieldText: rgba(var(--grayBlackRGB),1);


	/* nav */
	--navBurgerColor: rgba(var(--grayBlackRGB),1);
	--navBackground: var(--pathBackground);
	--navBackgroundHeader: rgba(var(--beigeRGB),1);
	--navFontColor: rgba(var(--grayDarkRGB),1);
	--navAccordionHeight: 60px;
	--navAccordionSubHeight: 50px;

	--navAccordion0FontColor: rgba(var(--grayDarkRGB),1);
	--navAccordion0Background: var(--transparent);
	--navAccordion0SpacerTransparent: var(--transparent);
	--navAccordion0SpacerColor: rgba(var(--grayBlackRGB),1);
	--navAccordion0IconColor: rgba(var(--redDarkRGB),1);
	--navAccordion0IconBackground: var(--pathBackground);

	--navAccordion1FontColor: rgba(var(--whiteRGB),1);
	--navAccordion1Background: rgba(var(--redDarkRGB),1);
	--navAccordion1SpacerTransparent: var(--transparent);
	--navAccordion1SpacerColor: rgba(var(--whiteRGB),1);
	--navAccordion1IconColor: rgba(var(--whiteRGB),1);
	--navAccordion1IconBackground: rgba(var(--redDarkRGB),1);

	--navAccordion2FontColor: rgba(var(--whiteRGB),1);
	--navAccordion2Background: rgba(var(--grayDarkRGB),1);

	--navMainBackground: rgba(var(--redDarkRGB),1);
	--navMainFontColor: rgba(var(--whiteRGB),1);


	/* filter */
    --filterLineHeight: 51px;
	--filterBackground: rgba(var(--whiteRGB),0.5);
	--filterBackgroundEven: rgba(var(--whiteRGB),0.3);
	--filterBackgroundOdd: rgba(var(--grayDarkRGB),0.08);
	--filterPlusColor: rgba(var(--redDarkRGB),1);
	--filterInputBorderColor: rgba(var(--grayDarkRGB),1);
	--filterInputBackground: rgba(var(--whiteRGB),1);

	/* table */
	--tableBackgroundEven: rgba(var(--whiteRGB),0.3);
	--tableBackgroundOdd: rgba(var(--grayDarkRGB),0.08);
	--tableHeaderBackground: rgba(var(--grayDarkRGB),1);
	--tableHeaderFontColor: rgba(var(--whiteRGB),1);
	--tableStrongBorderColor: rgba(var(--whiteRGB),1);
	--tableLinkColor: rgba(var(--redDarkRGB),1);

	/* paging */
	--pagingFontColor: rgba(var(--redDarkRGB),1);
}