:root {
	/* colors */
	--trans: transparent;
	--white: #ffffff;
	--black: #000000;

	--beige: #f9f7ec;
	--grayBlack: #151515;
	--grayDark: #333333;
	--grayLight: #61605c;
	--red: #9d0a0e;

	--pathBackground: url('/_assets/images/bg.jpg');
	--pathLogo: url('/_assets/images/logo.png');


	/* variables */
	--shadow: var(--black);


	/* layout */
	--background: var(--pathBackground);
	--backgroundLogo: var(--pathLogo);
	--backgroundSite: var(--beige);
	--backgroundPage: var(--beige);
	--backgroundHeader: var(--beige);
	--backgroundFooter: var(--grayBlack);
	--fontSize: 15px;


	/* logo */
	--logoFontColor: var(--black);


	/* loader */
	--loaderOverlay: var(--beige);
	--loaderColor: var(--grayBlack);


	/* nav */
	--navBurgerColor: var(--grayLight);
	--navBackground: var(--pathBackground);
	--navBackgroundHeader: var(--beige);
	--navFontColor: var(--grayDark);
	--navAccordionHeight: 60px;
	--navAccordionSubHeight: 50px;

	--navAccordion0FontColor: var(--grayDark);
	--navAccordion0Background: var(--trans);
	--navAccordion0SpacerTransparent: var(--trans);
	--navAccordion0SpacerColor: var(--grayBlack);
	--navAccordion0IconColor: var(--red);
	--navAccordion0IconBackground: var(--pathBackground);

	--navAccordion1FontColor: var(--white);
	--navAccordion1Background: var(--red);
	--navAccordion1SpacerTransparent: var(--trans);
	--navAccordion1SpacerColor: var(--white);
	--navAccordion1IconColor: var(--white);
	--navAccordion1IconBackground: var(--red);

	--navAccordion2FontColor: var(--white);
	--navAccordion2Background: var(--grayDark);

	--navMainBackground: var(--red);
	--navMainFontColor: var(--white);
}